<br>
<br>
<br>
<br>

<div class="container text-white col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/assets/a.png" class="d-block mx-lg-auto img-fluid" alt="Picture" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Planner Application</h1>
      <p class="lead">We tend to worry about things that we have left uncompleted
Our brains like things to be finished off and tidy, which means that we worry about things that need doing. That ought to mean that making a list of things to do makes us more worried, but it turns out that it actually tricks the brain into thinking that the task has been done.

In other words, writing things down on a to-do list means that you stop worrying, and actually have time to prioritise and then complete your tasks</p>
<br>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg px-4 me-md-2" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary btn-lg px-4 me-md-2" %>
      </div>
    </div>
  </div>
</div>