<div class ="d-flex flex-column mb-3 align-items-center justify-content-center">
    <%= render 'form', category: @category %>
    <%= link_to 'Back', categories_path, class: "btn btn-success btn-sm" %>
</div>